:is(dl.class, dl.function, dl.data) > .sig {
  display: table;
  margin: 6px 0;
  line-height: normal;
  background: #e7f2fa;
  color: #222;
  border-top: 3px solid #6ab0de;
  padding: 6px;
  position: relative;
  font-size: 90%;
  font-weight: 700;
}
dl.class > .sig :is(.property, .sig-param) {
  color: #2980b9;
}
dd > dl > .sig {
  display: table;
  margin: 6px 0;
  line-height: normal;
  background: #f0f0f0;
  color: #222;
  border-left: 3px solid #ccc;
  padding: 6px;
  font-size: 90%;
  font-weight: 700;
}
code.xref {
  font-weight: normal;
}
a:has(code.xref) {
  text-decoration: none;
}

.noborder {
  border: none;
}

.suppress-margin-bottom {
  margin-bottom: 0rem !important;
}

.index-page-card {
  padding: 0.5rem 1.2em !important;
  background-color: #f5f5f5;
  font-weight: 600;
}

.index-page-card .sd-card-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url('link.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -8px;
  margin-right: 8px;
  margin-bottom: 3px;
  vertical-align: middle;
  /* opacity: 0.85; */
}